@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;500&family=Teko&display=swap');


body {
  font-family: 'Noto Sans SC', sans-serif;
}

div {
  display: inline-block;
}

h2 {
  text-align: center;
}

table {
  margin: 50px;
  background-color: salmon;
}

td,
th {
  border: 4px solid white;
  padding: 7.5px;
}

td:first-child,
tr:first-child {
  background-color: cornflowerblue;
  color: white;
}

tr:nth-child(n+2):hover {
  background-color: aquamarine;
}