@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;500&family=Teko&display=swap');

header {
  background-color: rgb(19, 19, 19);
  height: 11%;
  font-family: 'Permanent Marker', cursive;
  color: lightcoral;
  text-align: center;
}



#title {
  width: fit-content;
  padding: 10px;
  margin: 10px;
  font-size: 2vw;
  display: inline-block;
}

#title h1 {
  display: inline-block;
  vertical-align: 50%;
}

body {
  height: 1500px;
  background-color: rgb(44, 38, 38);
}

header img {
  border-radius: 7.5px;
}


#sales-link {
  width: fit-content;
  display: inline-block;
  float: right;
  margin: 65px 15%;
}

#sales-link a {
  vertical-align: 100%;
  text-decoration: none;
  color: lightcoral;
}

main {
  border: 2px solid black;
  clear: both;
  width: 80%;
  text-align: center;
  margin: auto;
  background-color: rgb(156, 71, 71);
  font-family: 'Noto Sans SC', sans-serif;
}

section {
  display: flex;
  margin: 50px 0px;

}

section div {
  width: 45%;
  margin: auto;
}

#text-field-1,
#section-2 div:last-child,
#section-3 div:first-child {
  background-color: rgb(44, 38, 38);
  color: whitesmoke;
  padding: 10px;
  border-radius: 7.5px;
  border: 2px solid rgb(19, 19, 19);
  letter-spacing: 2.5px;
}

#text-field-1 h2 {
  font-size: 1.5em;
  padding: 10px;
}

#section-1 div img {
  float: right;
  margin: 20px;
}

#section-2 div:last-child {
  height: 100px;
  height: fit-content;
}

#section-2 h2 {
  font-size: 1.5em;
  padding: 10px;
}

#section-3 {
  /* width: 30%; */
  margin: 10% auto;
  height: fit-content;
}

#section-3 div:first-child h2 {
  font-size: 1.5em;
  padding: 10px;
}

#shirt {
  border: 2px solid black;
}

#shirt h2 {
  font-size: 1.5em;
  padding: 10px;
}

#section-3 div {
  width: fit-content;
}

#section-3 div:last-child {
  margin: auto;
  border: 2px solid black;
}

footer {
  background-color: rgb(19, 19, 19);
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 105px;
  text-align: center;
  color: white;
  font-family: 'Noto Sans SC', sans-serif;
}

footer ol {
  display: inline-block;
  list-style-type: none;
  float: left;
  margin: 10px 0px 30px 15px;

}

footer ol li,
footer ol li a {
  text-align: left;
  color: white;
  text-decoration: none;
  background-color: rgb(44, 38, 38);
  width: fit-content;
  padding: 3px;
  border-bottom: 1px solid rgb(19, 19, 19);
  border-radius: 5px;
}


footer img {
  float: left;
  margin: 27px 10px;
}